* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;


}
a{
    text-decoration: none;
}
li {
    list-style-type: none;
}
header {
    background-color: #1F2937;
    max-width: 1440px;
    width:100%;
    margin: 0 auto;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width:100%;
}
.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 50px;
    padding-bottom: 0px;
}
.nav_list {
    display: flex;
    margin-top: 25px;
    margin-right: 150px;
}
.nav_links {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 20px;
}
.hero {
    padding: 100px 150px;

    display: flex;

    
}
h1.hero_text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;

}
div.hero_text{
    width: 550px;
}
.hero_secondary {
    font-size: 18px;
    color: #afb0b4;
    width: 300px;

}

.sign_btn {
    border-radius: 20px;
    padding: 10px 35px;
    background-color: #1e88e5;
    font-size: 20px;
    color: #e5e7eb;
    margin-top: 10px;
    border: none;
}

.image {
    width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
}

.shit {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
}
.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.catalog {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: 90px;
}
.product_desc{
    font-size: 18px;
    color: #afb0b4;
}
.main_info{
    margin-bottom: 50px;
}
.quote_container{
    background-color: #e5e7eb;
    height: 300px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.quote_text{
    font-size: 36px;
    font-style: italic;
    display: flex;
    justify-content: center;
    font-weight: 100;
    width: 700px;
    margin-top: 80px;
}
.author {
    font-weight: 900px;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    align-self: flex-end;
}
.sub_sign {
    height: 300px;
    display: flex;
    justify-content: center;

}
.sub_info {
    border-radius: 10px;
    background-color: #1e88e5;
    height: 150px;
    /* display:flex;
    justify-content: center; */
    margin-top: 100px;
    width: 900px;
    padding: 30px;
    display: flex;
}
.sub_btn {
    border-radius: 20px;
    background-color: #1e88e5;
    font-size: 20px;
    color: white;
    margin-top: 10px;
    border: 2px solid white;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    margin-top: 30px;
}

.sub_text{
    padding: 20px;
}
p.sub_text{
    font-size: 18px;
    color: #afb0b4;
    padding: 0;

}
.sub_title{
    font-size: 24px;
    color: #F9FAF8;
}
footer {
    background-color: #1F2937;
    width:100%;
    margin: 0 auto;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    height: 50px;
}
.copy {
    margin-top: 16px;
}